<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-9 mx-md-auto">
        <%= render "partials/home_event_search" %>
      </div>
    </div>
  </div>
</div>

<section class="mb-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center mb-5">Upcoming Events</h1>
        <div class="row">
          <% @upcoming_events.each do |event| %>
            <div class="col-md-4 mb-4">
              <%= link_to event, class: "event-link" do %>
                <div class="card shadow">
                  <%= image_tag "dummy-event.png", class: "card-img-top" %>  
                  <div class="card-body">
                    <h5 class="text-muted"><%= event.name %></h5>
                    <small class="text-muted">
                      <span class="font-weight-bold">
                        <%= event.start_date.strftime("%b %d %Y %H:%M %p") %>  
                      </span> To 
                      <span class="font-weight-bold">
                        <%= event.end_date.strftime("%b %d %Y %H:%M %p") %>    
                      </span>
                    </small><br>
                    <small class="text-muted">
                      <i class="fas fa-map-marker mr-2"></i><%= event.short_address %>
                    </small>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>


<script 
  src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_map_api_key %>&libraries=places&callback=autocompleteEvent"
  async defer>
</script>
